# Global ignores
*.bak
*.la
*.lo
*.o
*.sw[a-z]
*~
.deps
.libs
Makefile
Makefile.in
cscope.out

# /
/.cproject
/.project
/.settings
/TODO_local
/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libgpod-*.tar.gz
/libgpod-1.0.pc
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/py-compile
/stamp-h1

# /bindings/python/
/bindings/python/README
/bindings/python/__init__.pyc
/bindings/python/gpod.i
/bindings/python/gpod.py
/bindings/python/gpod.pyc
/bindings/python/gpod_doc.i
/bindings/python/gpod_wrap.c
/bindings/python/gtkpod.pyc
/bindings/python/ipod.pyc

# /docs/reference/
/docs/reference/html
/docs/reference/html-build.stamp
/docs/reference/html.stamp
/docs/reference/libgpod-decl-list.txt
/docs/reference/libgpod-decl.txt
/docs/reference/libgpod-undeclared.txt
/docs/reference/libgpod-undocumented.txt
/docs/reference/libgpod-unused.txt
/docs/reference/libgpod.args
/docs/reference/libgpod.hierarchy
/docs/reference/libgpod.interfaces
/docs/reference/libgpod.prerequisites
/docs/reference/libgpod.signals
/docs/reference/scan-build.stamp
/docs/reference/sgml-build.stamp
/docs/reference/sgml.stamp
/docs/reference/tmpl-build.stamp
/docs/reference/tmpl.stamp
/docs/reference/version.xml
/docs/reference/xml

# /m4/
/m4/gtk-doc.m4
/m4/intltool.m4

# /po/
/po/Makefile.in.in
/po/POTFILES
/po/*.gmo
/po/stamp-it

# /tests/
/tests/get-timezone
/tests/test-checksum
/tests/test-firewire-id
/tests/test-init-ipod
/tests/test-ipod-device
/tests/test-itdb
/tests/test-ls
/tests/test-photos
/tests/test-rebuild-db
/tests/test-sysinfo-extended-parsing
/tests/test-thumbnails
/tests/test-write-thumbnails

# /tools/
/tools/ipod-read-sysinfo-extended
/tools/ipod-time-sync
/tools/libgpod-callout
